* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #37352f;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.banner {
    background-color: #2094ff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.banner h1 {
    font-size: 30px;
    color: white;
}

.mid {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    min-height: 70vh;
}

.header {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 50px;
}

.header ul {
    padding-top: 30px;
    list-style-type: none;
}

li {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

a :hover {
    background-color: #37352f;
    color: white;
}

a {
    text-decoration: none;
    color: #37352f;
}

.writeBtn {
    background-color: #2094ff;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.writeBtn:hover {
    background-color: #2094ff;
}
