<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/home.css" />
        <title>상우의 포트폴리오~~</title>
    </head>
    <body>
        <div class="back">
            <div class="wrapper">
                <div class="behind-img">
                    <img
                        src="https://images.unsplash.com/photo-1489861408921-2f6a1e6c1155?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    />
                </div>
                <div class="container" id="header">
                    <h1>김상우란 무엇인가?</h1>
                    <p>나도 날 몰라요...</p>
                </div>
                <div class="container">
                    <div class="card">
                        <h2>프로젝트 1</h2>
                        <p>프로젝트 1의 내용이 여기에 들어갑니다.</p>
                        <button class="btn">자세히 보기</button>
                    </div>

                    <div class="card">
                        <h2>프로젝트 2</h2>
                        <p>프로젝트 2의 내용이 여기에 들어갑니다.</p>
                        <button class="btn">자세히 보기</button>
                    </div>

                    <div class="card">
                        <h2>프로젝트 3</h2>
                        <p>프로젝트 3의 내용이 여기에 들어갑니다.</p>
                        <button class="btn">자세히 보기</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
