<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/project.css" />
        <title>프로젝트!</title>
    </head>
    <body>
        <h1>프로젝트</h1>
        <p>이 페이지는 제가 진행한 프로젝트들을 소개하는 페이지입니다.</p>
        <div style="display: flex">
            <img style="width: 45%" src="../static/images/insta.png" />
            <img style="width: 45%" src="../static/images/toss.png" />
        </div>
    </body>
</html>
