{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'update.css' %}" />
{% endblock css %} {% block content %}
<a href="javascript:history.go(-1)">
    <div class="go-back"><img src="{% static 'images/goback.png' %}" /></div>
</a>
<form action="{% url 'update' task.id %}" method="POST">
    {% csrf_token %}
    <select name="category" class="cate-select">
        {% for category in categories %}
        <option value="{{ category }}" {% if category == task.category %} selected {% endif %}>{{ category }}</option>
        {% endfor %}
    </select>
    
    
    <div class="info">
        <input name="title" class="title" type="text" value="{{task.title}}" />
        <input name="content" class="content" type="text" value="{{task.content}}" />
        <input name="deadline" class="deadLine" type="date" value="{{task.deadline|date:'Y-m-d'}}" />
    </div>
    <button type="submit" class="update">{% block button %}등록하기{% endblock button %}</button>
</form>
<form action="{% url 'delete' task.id %}" method="POST">
    {% csrf_token %}
    <button class="delete" type="submit">삭제하기</button>
</form>
{% endblock content %}
