{% extends 'base.html' %} {% load account socialaccount %} {% providers_media_js %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'list.css' %}" />
{% endblock %} {% block title %} Article List {% endblock %} {% block content %}
<div class="banner">
    <h1>상우의 블로그</h1>
</div>
<div class="mid">
    <div class="header">
        <div class="authBox">
            <ul style="display: flex" class="login-out">
                {% if user.is_authenticated %}
                <a href="{% url 'logout_user' %}"><li>로그아웃</li></a>
                {% else %}
                <a href="{% url 'login' %}"><li>로그인</li></a>
                <a href="{% url 'signup' %}"><li>회원가입</li></a>
                <a href="{% provider_login_url 'kakao' %}"><li>카카오 로그인</li></a>
                <a href="{% provider_login_url 'google' %}"><li>구글 로그인</li></a>
                {% endif %}
            </ul>
        </div>
        <h2>전체 글 목록</h2>
        <ul>
            {% for article in articles %}
            <a href="{% url 'detail' article.id %}">
                <li>{{ article.title }}</li>
            </a>
            {% endfor %}
        </ul>
    </div>
    <div class="header">
        <h2>카테고리</h2>
        <ul>
            {% for category_id, category_name, count in categories_with_counts %}
            <a href="{% url 'category' category_id %}"> <li>{{ category_name }} {{count}}</li></a>
            {% endfor %}
        </ul>
    </div>
    <div class="header" style="align-items: center">
        <a href="{% url 'new' %}"><div class="writeBtn">글 쓰러가기</div></a>
    </div>
</div>
{% endblock %}
