{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}" />
{% endblock %} {% block title %}회원가입{% endblock %} {% block content %}
<div class="banner">
    <h1>회원가입 합시당</h1>
</div>
<div class="mid">
    <div class="login-box">
        <div class="title">회원가입</div>
        <form method="post">
            {% csrf_token %} {% for field in form %} {{ field }} {% if field.errors %} {% for error in field.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %} {% endif %} {% endfor %}
            <input type="submit" value="회원가입" />
        </form>
    </div>
</div>
{% endblock %}
